<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.11.0" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Sprache" version="1.10.0.35" targetFramework="net452" />
  <package id="toml-net" version="0.1.1.35632" targetFramework="net452" />
</packages>